extends ../layouts/simple-layout.pug

block content
    h2= text
    if hint
        p
            i Hint: #{hint}
            br
            a(href=`/cards/${id}?side=answer`) Answer
    else
            a(href=`/cards/${id}?side=question`) Question


