extends ../layouts/simple-layout.pug

block content
    h2 Yello mate
    form(action='/hello', method='post')
        label Please tell us your name: 
            input(type="text", name="firstname")
        button(type='submit') Submit


