extends ../layouts/simple-layout.pug

block content
    header
        h2 Examplqe app to help you learn Node.js' Express Server
        h3 Welcome #{firstname}!!

    form(action='/goodbye', method='post')
        button(type='submit') Goodbye dum dum, We will miss ya!!
